$white:#dfdbdb;
$gray: #949494;
$black: #0e0d0d;
$purple: #4e044e;

*{
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    background: $black;
    color: $white;
    font-family: 'Raleway', sans-serif;
}


a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    &:hover{
        border-bottom: $purple 3px solid;
        padding: 0 0 0.3rem 0.3rem;
    }
    &:focus{
        border-bottom: $purple 3px solid;
    }

    span{
        color: $gray;
        &:hover{
            color: $purple;
        }
    }
}

.button{
    padding: 1rem 2rem;
    background: $purple;
    color: $white;
    letter-spacing: 0.1rem;
    border: none;
    &:hover{
        background: #250225;
    }
}

.main{
    height: 100vh;

    .list{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 2rem 0;
    }

    .titlle{
        width: 50%;
        margin: 0 auto;
        text-align: center;

        .name{
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: 10rem;
        }
        .description{
            font-size: 1.4rem;
            font-weight: 400;
            margin: 2rem 0;
            color: $gray;
        }
        
    }
}

.heading{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: $purple 3px solid;
    width: 4rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.projects{

    .heading{
        padding-top: 2rem;
    }

    .project{
        margin-left: 2rem;
        .project-image{
            width: 85%;
            margin-top: 3rem;
        }

        .project-name{
            font-size: 1rem;
            font-weight: 500;
            margin: 1.5rem auto;
        }

        .project-detail{
            margin-bottom: 2rem;
            width: 95%;
        }

        ul{
            margin-left: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.break{
    margin-top: 5rem;

}

.about{
    .heading{
        padding-top: 3rem;
    }
    .me{
        text-align: center;
    }
    .details{
        .about-me{
            width: 90%;
            margin:2rem 0 0 2.5rem;
        }
    }
    
    .button{
        margin: 2rem 0 2rem 2.5rem;
    }
}

.contact{
    height: 100vh;

    .heading{
        padding-top: 3rem;
    }
    .contact-details{
            width: 90%;
            margin:2rem 0 0 2.5rem;
    }

    .contact-links{
        text-align: center;
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 2rem 0;
    }
}
